{% extends 'base.html' %}

{% block content %} 
    <h1>{% block title %} HASH_URL Statistics {% endblock %}</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Hashed</th>
                <th scope="col">Original</th>
                <th scope="col">Clicks</th>
                <th scope="col">Creation Date</th>
            </tr>
        </thead>
        <tbody>
            {% for ur in urls %}
                <tr>
                    <th scope="row">{{ url['id'] }}</th>
                    <td>{{ url['hash_url'] }}</td>
                    <td>{{ url['original_url'] }}</td>
                    <td>{{ url['clicks'] }}</td>
                    <td>{{ url['created'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}